.cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}


.card {
    margin-bottom: 20px;
    border: 1px solid #ccc;
    padding: 20px;
    box-sizing: border-box;
    transition: .3s;
    border-radius: 20px;
    background: rgba(255, 255, 255, 0.8);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border: 1px solid rgba(255, 255, 255, 0.3);
}

.card:hover {
    transform: translateY(-5px);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.2);
}

 
.cardHeader {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.cardHeader h3{
    font-weight: bold;
    margin: 0;

}

.icon {
    margin-right: 10px;
    width: 30px;
}

.separator {
    height: 2px;
    background-color: #ccc;
    margin-bottom: 10px;
}

.boldLabel {
    font-weight: bold;
}

.info {
    margin-bottom: 3px;
}

.icon {
    width: 30px;
    height: 30px;
    background: #1abc9c;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;

}

.difficulty {
    display: inline-block;

}

.easy {
    background-color: #EFE;
    border: 1px solid #DED;
    color: rgb(47, 145, 47);
    cursor: pointer;
    border-radius: 10%;
}


.medium {
    background-color: #FDF7DF;
    border: 1px solid #FEEC6F;
    color: #C9971C;
    cursor: pointer;
    border-radius: 10%;
}

.hard {
    background-color: #FEE;
    border: 1px solid #EDD;
    color: #A66;
    cursor: pointer;
    border-radius: 10%;
  
}
.easy,
.medium,
.hard {
    display: inline-block;
    padding: 2.4px;
    
}
/* Media query for two cards per row on smaller screens */
@media (max-width: 768px) {
    .card {
        width: calc(100% - 20px);
        /* Adjust width for two cards per row */
    }
}

/* Media query for one card per row on smaller screens */
@media (max-width: 576px) {
    .card {
        width: 100%;
        /* Adjust width for one card per row */
    }
}


