/* Sidebar Styles */
aside {
    display: flex;
    height: 100vh;
}

nav {
    display: flex;
    flex-direction: column;
    height: 100%;
    background-color: white;
    border-right: 1px solid #e5e7eb;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
}

nav .logo {
    overflow: hidden;
    transition: all 0.3s;
}

nav .logo.expanded {
    width: 32px;
}

nav .toggle-button {
    padding: 0.375rem;
    border-radius: 0.375rem;
    background-color: #f9fafb;
}

nav .profile {
    width: 10px;
    height: 10px;
    border-radius: 50%;
}

nav .profile-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    overflow: hidden;
    transition: all 0.3s;
}

nav .profile-info.expanded {
    width: 52px;
    margin-left: 0.75rem;
}

nav .profile-info .info-text {
    line-height: 1.25rem;
}

nav .sidebar-items {
    flex: 1;
    padding: 0 0.75rem;
}

nav .sidebar-item {
    position: relative;
    display: flex;
    align-items: center;
    padding: 0.5rem 0.75rem;
    margin: 0.25rem 0;
    font-weight: 500;
    border-radius: 0.375rem;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
}

nav .sidebar-item.active {
    background-image: linear-gradient(to top right, #a5b4fc, #94aafb);
    color: #3a3b3c;
}

nav .sidebar-item:hover {
    background-color: #f0f4f8;
    color: #3a3b3c;
}

nav .sidebar-item span {
    overflow: hidden;
    transition: all 0.3s;
}

nav .sidebar-item span.expanded {
    margin-left: 0.75rem;
}

nav .alert {
    position: absolute;
    right: 0.5rem;
    width: 0.5rem;
    height: 0.5rem;
    border-radius: 50%;
    background-color: #667eea;
}

nav .expanded .alert {
    top: 0.5rem;
}

nav .expanded .info-popup {
    visibility: visible;
    opacity: 1;
    transform: translateX(0);
}

nav .info-popup {
    position: absolute;
    left: calc(100% + 0.75rem);
    border-radius: 0.375rem;
    padding: 0.25rem 0.5rem;
    background-color: #93c5fd;
    color: #3a3b3c;
    font-size: 0.875rem;
    visibility: hidden;
    opacity: 0;
    transform: translateX(-0.75rem);
    transition: visibility 0s, opacity 0.3s, transform 0.3s;
}